<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing <%= event.title %> </title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit event.title </h1>
    <form action="/users/<%= user._id %>/events/<%= event._id %>?_method=PUT" method="POST">
    <label for="title">Event Title:</label>
    <input type="text" name="title" id="title" value="<%= event.title %>" required />

    <label for="date">Date:</label>
    <input type="text" name="date" id="date" value="<%= event.date %>" required />

    <label for="location">Location:</label>
    <input type="text" name="location" id="location" value="<%= event.location %>" required />

    <label for="isPublic">Make this event public?</label>
    <select name="isPublic" id="isPublic" value="<%= event.isPublic %>"required>
          <% if (!event.isPublic) { %>
          <option value="false" selected>No</option>
          <option value="true">Yes</option>
          <% } else { %>
          <option value="false">No</option>
          <option value="true" selected>Yes</option>
          <% } %>
    </select>

    <h3>Checklist Item </h3>

    <div id="checklist-container">
      <% event.checklist.forEach((item, idx) => { %>
      <div class="checklist-group">
        <label>Task:</label>
        <input type="text" name="taskList" id="checklist[0][task]" value="<%= item.task %>" required />
        <label>Is Done?</label>
        <select name="isDoneList" id="checklist[0][isDone]" value="<%= item.isDone %>">
          <% if (!item.isDone) { %>
          <option value="false" selected>No</option>
          <option value="true">Yes</option>
          <% } else { %>
          <option value="false">No</option>
          <option value="true" selected>Yes</option>
          <% } %>
        </select>
      </div>
      <% }); %>
    </div>
    <button type="button" onclick="addChecklistItem()">+ Add Another Task</button>

    <button type="submit">Save Edited Event</button>
</form>

<!-- to dynamically add fields in checklist-->
<script>
    let checklistIndex = <%= event.checklist.length %>;

    function addChecklistItem() {
      const container = document.getElementById('checklist-container');
      const group = document.createElement('div');
      group.className = 'checklist-group';
      group.innerHTML = `
        <label>Task:</label>
        <input type="text" name="taskList" id="checklist[${checklistIndex}][task]" value="<%= event.taskList %>"required />
        <label>Is Done?</label>
        <select name="isDoneList" id="checklist[${checklistIndex}][isDone]" value="<%= event.isDoneList %>">
          <option value="false" selected>No</option>
          <option value="true">Yes</option>
        </select>
      `;
      container.appendChild(group);
      checklistIndex++;
    }
  </script>

</body>   
</html>