<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Events</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %> 
    <h1>Welcome to My Events</h1>
    <a href="/users/<%= user._id %>/events/new">Create new event</a>
    
    <% if (events.length > 0){ %>
        <ul>
           <% events.forEach(item => { %>
                  <li>
                    <strong><%= item.title %></strong> — <%= item.location %><br/>
                    Date: <%= item.date ? item.date : 'No date set' %><br/>
                    Public: <%= item.isPublic ? 'Yes' : 'No' %><br/>
                  </li>

                <% if (item.checklist && item.checklist.length > 0) { %>
                  <ul>
                  <% item.checklist.forEach(task => { %>
                    <li>
                    <%= task.task %> — <%= task.isDone ? 'Done' : 'Pending' %>
                    </li>
                  <% }) %>
                  </ul>
                <% } else { %>
                  <em>No checklist items</em>
                <% } %>
              

        <a href="/users/<%= user._id %>/events/<%= item._id %>/edit">Edit</a>

        <form action="/users/<%= user._id %>/events/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>There are no events created.</p>
<% } %>



    
</body>
</html>
